In [1]:
from geoband.API import *
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import geopandas as gpd
import pandas as pd
import json
from pandas import json_normalize
import pandas as pd
import folium
from folium.plugins import MarkerCluster
from geoband.API import *
import geopandas as gpd
import warnings
warnings.filterwarnings("ignore")
from shapely.geometry import Point, Polygon
import matplotlib.pyplot as plt
import folium
from folium import Choropleth, Circle, Marker
from folium.plugins import HeatMap, MarkerCluster
from geopandas import GeoDataFrame
from folium import Choropleth
from datetime import datetime
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Point, Polygon, LineString
from fiona.crs import from_string

In [2]:
# GetCompasData('SBJ_2109_001', '1', '1.수원시_112신고이력(격자_관할경계매핑).csv')
# GetCompasData('SBJ_2109_001', '2', '2.수원시_112신고(격자별 신고횟수).geojson')
# GetCompasData('SBJ_2109_001', '3', '3.3개시도_112신고이력(관할경계매핑).csv')
# GetCompasData('SBJ_2109_001', '4', '4.수원시_시간대별_유동인구(2020).csv')
# GetCompasData('SBJ_2109_001', '5', '5.수원시_성연령별_유동인구(2020).csv')
# GetCompasData('SBJ_2109_001', '6', '6.수원시_요일별_유동인구(2020).csv')
# GetCompasData('SBJ_2109_001', '7', '7.4개시도_주택노후도.geojson')
# GetCompasData('SBJ_2109_001', '8', '8.4개시도_유흥업소현황.geojson')
# GetCompasData('SBJ_2109_001', '9', '9.4개시도_용도지역도.geojson')
# GetCompasData('SBJ_2109_001', '10', '10.4개시도_사업지구경계도.geojson')
# GetCompasData('SBJ_2109_001', '11', '11.4개시도_경찰서_관할경계.geojson')
# GetCompasData('SBJ_2109_001', '12', '12.4개시도_치안안전센터_관할경계.geojson')
# GetCompasData('SBJ_2109_001', '13', '13.수원시_노숙인자활시설현황.csv')
# GetCompasData('SBJ_2109_001', '14', '14.수원시_아동복지시설현황.csv')
# GetCompasData('SBJ_2109_001', '15', '15.수원시_지역아동센터시설현황.csv')
# GetCompasData('SBJ_2109_001', '16', '16.수원시_청소년공부방현황.csv')
# GetCompasData('SBJ_2109_001', '17', '17.수원시_도서관현황.csv')
# GetCompasData('SBJ_2109_001', '18', '18.수원시_무료급식소현황.csv')
# GetCompasData('SBJ_2109_001', '19', '19.수원시_아동복지급식소현황.csv')
# GetCompasData('SBJ_2109_001', '20', '20.수원시_여성안심택배함현황.csv')
# GetCompasData('SBJ_2109_001', '21', '21.수원시_가로등현황.csv')
# GetCompasData('SBJ_2109_001', '22', '22.4개시도_보안등현황.csv')
# GetCompasData('SBJ_2109_001', '23', '23.4개시도_안전비상벨현황.geojson')
# GetCompasData('SBJ_2109_001', '24', '24.4개시도_CCTV설치현황.csv')
# GetCompasData('SBJ_2109_001', '25', '25.수원시_상권(업종)현황.xlsx')
GetCompasData('SBJ_2109_001', '26', '26.수원시_건축물대장(표제부).xlsx')
GetCompasData('SBJ_2109_001', '27', '27.4개시도_공원현황.csv')
# GetCompasData('SBJ_2109_001', '28', '28.수원시_도로명주소(도로).geojson')
# GetCompasData('SBJ_2109_001', '29', '29.수원시_도로명주소(건물).geojson')
# GetCompasData('SBJ_2109_001', '30', '30.수원시_성연령별_거주인구격자(250M_X_250M).geojson')
# GetCompasData('SBJ_2109_001', '31', '31.수원시_행정경계(읍면동).geojson')
# GetCompasData('SBJ_2109_001', '32', '32.수원시_표준격자(250M_x_250M).geojson')
GetCompasData('SBJ_2109_001', '33', '33.4개시도_1인가구수.csv')
GetCompasData('SBJ_2109_001', '34', '34.4개시도_기초수급자현황.csv')
GetCompasData('SBJ_2109_001', '35', '35.4개시도_성연령별_총인구분포.csv')
GetCompasData('SBJ_2109_001', '36', '36.4개시도_인구데이터(외국인).csv')
GetCompasData('SBJ_2109_001', '37', '37.4개시도_자살율.csv')
GetCompasData('SBJ_2109_001', '38', '38.4개시도_화재발생통계.csv')
GetCompasData('SBJ_2109_001', '39', '39.4개시도_경찰관서현황.csv')
GetCompasData('SBJ_2109_001', '40', '40.4개시도_어린이놀이시설현황.csv')
GetCompasData('SBJ_2109_001', '41', '41.4개시도_토지이용계획도.geojson')
GetCompasData('SBJ_2109_001', '42', '42.4개시도_편의점현황.geojson')
# https://www.kaggle.com/alexisbcook/interactive-maps/#The-data 지도 시각화

In [3]:
# suwon_112 = pd.read_csv('1.수원시_112신고이력(격자_관할경계매핑).csv')
# suwon_112_grid = gpd.read_file('2.수원시_112신고(격자별 신고횟수).geojson')
# others_112 = pd.read_csv('3.3개시도_112신고이력(관할경계매핑).csv')
# suwon_time_flow_pop = pd.read_csv('4.수원시_시간대별_유동인구(2020).csv')
# suwon_sex_age_flow_pop = pd.read_csv('5.수원시_성연령별_유동인구(2020).csv')
# suwon_day_flow_pop = pd.read_csv('6.수원시_요일별_유동인구(2020).csv')
# others_old_house = gpd.read_file('7.4개시도_주택노후도.geojson')
# others_alcohol = gpd.read_file('8.4개시도_유흥업소현황.geojson')
# others_use_area = gpd.read_file('9.4개시도_용도지역도.geojson')
# others_business_area = gpd.read_file('10.4개시도_사업지구경계도.geojson')
# others_police_area = gpd.read_file('11.4개시도_경찰서_관할경계.geojson')
# others_police_box_area = gpd.read_file('12.4개시도_치안안전센터_관할경계.geojson')
# suwon_homeless = pd.read_csv('13.수원시_노숙인자활시설현황.csv')
# suwon_child_welfare = pd.read_csv('14.수원시_아동복지시설현황.csv')
# suwon_child_center = pd.read_csv('15.수원시_지역아동센터시설현황.csv')
# suwon_youth_study = pd.read_csv('16.수원시_청소년공부방현황.csv')
# suwon_library = pd.read_csv('17.수원시_도서관현황.csv')
# suwon_free_cafeteria =pd.read_csv('18.수원시_무료급식소현황.csv')
# suwon_child_free_cafeteria = pd.read_csv('19.수원시_아동복지급식소현황.csv')
# suwon_female_parcel = pd.read_csv('20.수원시_여성안심택배함현황.csv')
# suwon_street_lamp = pd.read_csv('21.수원시_가로등현황.csv')
# others_security_lamp = pd.read_csv('22.4개시도_보안등현황.csv')
# others_security_bell = gpd.read_file('23.4개시도_안전비상벨현황.geojson')
# others_cctv = pd.read_csv('24.4개시도_CCTV설치현황.csv')
# suwon_commercial_area = pd.read_excel('25.수원시_상권(업종)현황.xlsx')
# suwon_building = pd.read_excel('26.수원시_건축물대장(표제부).xlsx')
# others_park =pd.read_csv('27.4개시도_공원현황.csv')
# suwon_road_name = gpd.read_file('28.수원시_도로명주소(도로).geojson')
# suwon_building_road_name = gpd.read_file('29.수원시_도로명주소(건물).geojson')
# suwon_sex_age_pop = gpd.read_file('30.수원시_성연령별_거주인구격자(250M_X_250M).geojson')
# suwon_admin_area = gpd.read_file('31.수원시_행정경계(읍면동).geojson')
# suwon_grid = gpd.read_file('32.수원시_표준격자(250M_x_250M).geojson')
# others_one_person = pd.read_csv('33.4개시도_1인가구수.csv')
# others_basic_recipient = pd.read_csv('34.4개시도_기초수급자현황.csv')
# others_sex_age_pop = pd.read_csv('35.4개시도_성연령별_총인구분포.csv')
# others_foreigner_pop = pd.read_csv('36.4개시도_인구데이터(외국인).csv')
# others_suicide = pd.read_csv('37.4개시도_자살율.csv')
# others_fire = pd.read_csv('38.4개시도_화재발생통계.csv')
# others_police = pd.read_csv('39.4개시도_경찰관서현황.csv')
# others_playground = pd.read_csv('40.4개시도_어린이놀이시설현황.csv')
# others_land_use_plan = gpd.read_file('41.4개시도_토지이용계획도.geojson')
# others_convenience = gpd.read_file('42.4개시도_편의점현황.geojson')

In [4]:
# 서울
서울=["강남구","강동구","강북구","강서구","관악구","광진구","구로구","금천구","노원구","도봉구"
,"동대문구","동작구","마포구","서대문구","서초구","성동구","성북구","송파구","양천구","영등포구"
,"용산구","은평구","중구","중랑구", "종로구"]

# 수원
수원=["장안구","팔달구","권선구","영통구"]

# 창원
창원=["의창구", "성산구", "마산회원구", "마산합포구", "진해구"]

# 진주
진주=["진주시"]

# 전체
전체=["강남구","강동구","강북구","강서구","관악구","광진구","구로구","금천구","노원구","도봉구", 
    "동대문구","동작구","마포구","서대문구","서초구","성동구","성북구","송파구","양천구","영등포구",
    "용산구","은평구","중구","중랑구", "종로구", "장안구","팔달구","권선구","영통구", "의창구", "성산구", 
    "마산회원구", "마산합포구", "진해구", "진주시"]

In [5]:
SIG = gpd.read_file("전국시군구_경계구역.json")
HJD = gpd.read_file("전국행정동_경계구역.geojson")

SIG_4 = SIG[(SIG["SIG_CD"].str[:2] == "11") | 
            (SIG["SIG_KOR_NM"].str.split(" ").str[0] == "수원시") | 
            (SIG["SIG_KOR_NM"].str.split(" ").str[0] == "창원시") |
            (SIG["SIG_KOR_NM"].str.split(" ").str[0] == "진주시")]
# 서울 수원 창원 진주의 시군구 경계구역만 가져오기

SIG_4["sgg_nm"] =  SIG_4["SIG_KOR_NM"].apply(lambda x : x.split(" ")[-1])
# '창원시 의창구 -> 의창구'

HJD_4 = HJD[(HJD["sido"] == "11") |
        (HJD["sggnm"] == "수원시장안구") | (HJD["sggnm"] == "수원시권선구") | (HJD["sggnm"] == "수원시팔달구") | 
        (HJD["sggnm"] == "수원시영통구") | (HJD["sggnm"] == "진주시") | (HJD["sggnm"] == "창원시의창구") | (HJD["sggnm"] == "창원시성산구") |
        (HJD["sggnm"] == "창원시마산합포구") | (HJD["sggnm"] == "창원시마산회원구")| (HJD["sggnm"] == "창원시진해구")]

# 서울 수원 창원 진주의 행정동 경계구역만 가져오기

## 전처리 대상
- 27, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42

In [6]:
suwon_building = pd.read_excel('26.수원시_건축물대장(표제부).xlsx')
others_park =pd.read_csv('27.4개시도_공원현황.csv')
others_one_person = pd.read_csv('33.4개시도_1인가구수.csv')
others_basic_recipient = pd.read_csv('34.4개시도_기초수급자현황.csv')
others_sex_age_pop = pd.read_csv('35.4개시도_성연령별_총인구분포.csv')
others_foreigner_pop = pd.read_csv('36.4개시도_인구데이터(외국인).csv')
others_suicide = pd.read_csv('37.4개시도_자살율.csv')
others_fire = pd.read_csv('38.4개시도_화재발생통계.csv')
others_police = pd.read_csv('39.4개시도_경찰관서현황.csv')
others_playground = pd.read_csv('40.4개시도_어린이놀이시설현황.csv')
others_land_use_plan = gpd.read_file('41.4개시도_토지이용계획도.geojson')
others_convenience = gpd.read_file('42.4개시도_편의점현황.geojson')

### 33. 4개시도_1인가구수
- 수원시, 창안시 데이터 추출(ex. 수원시장안구 -> 장안구)

In [68]:
for i in range(len(others_one_person)):
    if "수원시" in others_one_person.loc[i, 'sgg_nm'] or "창원시" in others_one_person.loc[i, 'sgg_nm']:
        others_one_person.loc[i, 'sgg_nm']=others_one_person.loc[i, 'sgg_nm'][3:]

for i in range(len(others_one_person)):
    for col in others_one_person.columns:
        if others_one_person.loc[i, col]=="X":
            others_one_person.loc[i, col]=0

others_one_person[['single_person_hh', 'house_total_num', 'detached_house', 'apartment','townhouse', 'multiplex_house', 'house_in_commercial', 'not_in_house']]=others_one_person[['single_person_hh', 'house_total_num', 'detached_house', 'apartment','townhouse', 'multiplex_house', 'house_in_commercial', 'not_in_house']].apply(pd.to_numeric)

In [8]:
others_one_person.to_csv('33.4개시도_1인가구수.csv', index=False)

### 34. 4개시도_기초수급자현황
- 나이가 int형이라 10 단위로 끊어서 합침(age_range 칼럼 추가)


#### 나이대 매핑
0-9 : 0대

10-19 : 10대

:

110-119 : 110대

- 수원시, 창원시가 시 단위로 되어있어 합쳐서 eda 해야함

In [9]:
d = {range(0, 10): '0대', range(10, 20): '10대', range(20, 30): '20대', range(30, 40): '30대', range(40, 50): '40대', range(50, 60): '50대', range(60, 70): '60대', range(70, 80): '70대', range(80, 90): '80대', range(90, 100): '90대', range(100, 110): '100대', range(110, 120): '110대'}
others_basic_recipient['age_range'] = others_basic_recipient['age'].apply(lambda x: next((v for k, v in d.items() if x in k), 0))

In [10]:
# 연령대(age_range) 추가
others_basic_recipient.to_csv('34.4개시도_기초수급자현황.csv', index=False)

In [69]:
aggregation = {i:"sum" for i in ['num']}
others_basic_recipient_age_range = others_basic_recipient.groupby(["sido","sgg_nm", "date", "age_range"]).agg(aggregation).reset_index()

In [70]:
# sgg_nm별 연령대 수
others_basic_recipient_age_range.to_csv('34.4개시도_기초수급자현황_연령대.csv', index=False)

### 35.4개시도_성연령별_총인구분포
- X로 되어있는 연령들 전부 0으로 결측처리
- 인구 수 수치형으로 변환 -> **저장**
- 연령대분포, 생산연령분포, 통계값분포로 나눠서 -> **다시 저장**

In [13]:
nan_rows=[]
rows=['popu_num', 'popu_male_num', 'popu_female_num', 'popu_sx_rate', 'local_num', 'local_male_num', 'local_female_num', 'local_sx_rate']
for i in range(len(others_sex_age_pop)):
    if "수원시" in others_sex_age_pop.loc[i, 'sgg_nm'] or "창원시" in others_sex_age_pop.loc[i, 'sgg_nm']:
        others_sex_age_pop.loc[i, 'sgg_nm']=others_sex_age_pop.loc[i, 'sgg_nm'][3:]
    if others_sex_age_pop.loc[i,'popu_num']=="X":
        others_sex_age_pop.loc[i,'popu_num']=0
        nan_rows.append(i)
    if  others_sex_age_pop.loc[i,'popu_male_num']=="X":
        others_sex_age_pop.loc[i,'popu_male_num']=0
        nan_rows.append(i)
    if  others_sex_age_pop.loc[i,'local_male_num']=="X":
        others_sex_age_pop.loc[i,'local_male_num']=0
        nan_rows.append(i)
    if  others_sex_age_pop.loc[i,'popu_female_num']=="X":
        others_sex_age_pop.loc[i,'popu_female_num']=0
        nan_rows.append(i)
    if  others_sex_age_pop.loc[i,'local_female_num']=="X":
        others_sex_age_pop.loc[i,'local_female_num']=0
        nan_rows.append(i)
    if  others_sex_age_pop.loc[i,'local_num']=="X":
        others_sex_age_pop.loc[i,'local_num']=0
        nan_rows.append(i)
        
# 그냥 빈거
others_sex_age_pop.loc[12921, ['popu_sx_rate', 'local_sx_rate']]=0
# 수치형으로 교환
others_sex_age_pop[['popu_num', 'popu_male_num', 'popu_female_num', 'local_num', 'local_male_num', 'local_female_num']]=others_sex_age_pop[['popu_num', 'popu_male_num', 'popu_female_num', 'local_num', 'local_male_num', 'local_female_num']].apply(pd.to_numeric)
others_sex_age_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13440 entries, 0 to 13439
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sido              13440 non-null  object
 1   sgg_nm            13440 non-null  object
 2   age               13440 non-null  object
 3   date              13440 non-null  int64
 4   popu_num          13440 non-null  float64
 5   popu_male_num     13440 non-null  float64
 6   popu_female_num   13440 non-null  float64
 7   popu_sx_rate      13230 non-null  float64
 8   local_num         13440 non-null  float64
 9   local_male_num    13440 non-null  float64
 10  local_female_num  13440 non-null  float64
 11  local_sx_rate     13230 non-null  float64
dtypes: float64(8), int64(1), object(3)
memory usage: 1.2+ MB

In [14]:
others_sex_age_pop.to_csv('35.4개시도_성연령별_총인구분포.csv', index=False)

In [15]:
# 종류별 분할
연령대분포=['0~4세', '5~9세', '10~14세', '15~19세', '20~24세', '25~29세', '30~34세', '35~39세', '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세', '70~74세', '75~79세', '80~84세', '85~89세', '90~94세', '95~99세', '100세이상', '합계']
생산연령분포=['15세미만', '합계', '15~64세', '65세이상']
통계값분포=['평균연령', '중위연령', '합계']

# 틀 세팅
columns=others_sex_age_pop.columns
df_len=len(others_sex_age_pop)
연령대분포_df=others_sex_age_pop.copy()
생산연령분포_df=others_sex_age_pop.copy()
통계값분포_df=others_sex_age_pop.copy()

In [16]:
for i in range(len(others_sex_age_pop)):
    if others_sex_age_pop.loc[i, 'age'] not in 연령대분포:
        연령대분포_df.drop(i, inplace=True)
    if others_sex_age_pop.loc[i, 'age'] not in 생산연령분포:
        생산연령분포_df.drop(i, inplace=True)
    if others_sex_age_pop.loc[i, 'age'] not in 통계값분포:
        통계값분포_df.drop(i, inplace=True)

In [17]:
# 통계값에는 비율이 필요 없어서 nan 값(drop)
통계값분포_df.drop(['popu_sx_rate', 'local_sx_rate'], axis=1, inplace=True)

In [18]:
연령대분포_df.to_csv('35.4개시도_성연령별_총인구분포_연령대.csv', index=False)
생산연령분포_df.to_csv('35.4개시도_성연령별_총인구분포_생산연령.csv', index=False)
통계값분포_df.to_csv('35.4개시도_성연령별_총인구분포_통계값.csv', index=False)

### 36.4개시도_인구데이터(외국인)
- 칼럼명 통일, 시군구 제대로 처리

In [19]:
others_foreigner_pop.rename(columns={"sgg":"sgg_nm"}, inplace=True) # 칼럼명 통일
others_foreigner_pop["sgg_nm"]=others_foreigner_pop["sgg_nm"].apply(lambda x : x.split(" ")[-1]) # 수원시 팔달구 -> 팔달구

In [20]:
others_foreigner_pop.to_csv('36.4개시도_인구데이터(외국인).csv', index=False)

### 37.4개시도_자살율
- 특이사항 x

### 38.4개시도_화재발생통계
- 시군구 제대로 처리

In [21]:
others_fire["sgg_nm"]=others_fire["sgg_nm"].apply(lambda x : x.split(" ")[-1]) # 수원시 팔달구 -> 팔달구

In [22]:
others_fire.to_csv('38.4개시도_화재발생통계.csv', index=False)

### 27. 4개시도_공원현황
- 특별사항 x

In [56]:
GetCompasData('SBJ_2109_001', '27', '27.4개시도_공원현황.csv')
others_park=pd.read_csv('27.4개시도_공원현황.csv')

In [57]:
others_park

          park_nm park_gbn         lon        lat
0          악양생태공원     근린공원  128.234986  35.202240
1            희망공원     근린공원  128.115185  35.152369
2          함박웃음공원     근린공원  128.116431  35.156053
3            들빛공원     근린공원  128.118637  35.155451
4     초장1지구4어린이공원    어린이공원  128.114517  35.209689
...           ...      ...         ...        ...
2736         안  산       기타  127.069775  37.662302
2737         상계 3       기타  127.077989  37.666114
2738    공릉2(산업대앞)       기타  127.073356  37.630521
2739         쌈지마당       기타  127.087945  37.644183
2740   노원역 역사문화마당       기타  127.055866  37.654472

[2741 rows x 4 columns]

In [60]:
epsg4326 = from_string("+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs")
others_park['geometry'] = others_park.apply(lambda x : Point([x['lon'], x['lat']]), axis=1)
others_park = gpd.GeoDataFrame(others_park, geometry='geometry', crs = epsg4326)
others_park = gpd.sjoin(SIG_4, others_park, how='left', op="intersects")
others_park.drop(['index_right'], inplace=True, axis=1)

In [65]:
others_park.to_csv('27.4개시도_공원현황.csv', index=False)

In [62]:
aggregation = {i:"count" for i in ['park_nm']}

others_park_sggnm = others_park.groupby(["sgg_nm","park_gbn"]).agg(aggregation).reset_index()
others_park_sggnm.rename(columns={"park_nm":"count"}, inplace=True)

In [64]:
others_park_sggnm.to_csv('27.4개시도_공원현황_구별종류별.csv', index=False)

In [30]:
others_park_sggnm

    sgg_nm park_gbn  count
0      강남구     근린공원     42
1      강남구      소공원      6
2      강남구     수변공원      2
3      강남구    어린이공원     42
4      강남구     역사공원      1
..     ...      ...    ...
145    진해구    어린이공원     64
146    진해구     체육공원      4
147    팔달구     근린공원     10
148    팔달구      소공원      5
149    팔달구    어린이공원     27

[150 rows x 3 columns]

In [52]:
others_park

,SIG_CD,SIG_ENG_NM,SIG_KOR_NM,geometry,sgg_nm,park_nm,park_gbn,lon,lat
18,41111,"Jangan-gu, Suwon-si",수원시 장안구,"POLYGON ((127.03168 37.33659, 127.03171 37.336...",장안구,9호소공원,소공원,126.966678,37.298179
18,41111,"Jangan-gu, Suwon-si",수원시 장안구,"POLYGON ((127.03168 37.33659, 127.03171 37.336...",장안구,버들,어린이공원,126.982953,37.289519
18,41111,"Jangan-gu, Suwon-si",수원시 장안구,"POLYGON ((127.03168 37.33659, 127.03171 37.336...",장안구,정천,어린이공원,126.980554,37.291157
18,41111,"Jangan-gu, Suwon-si",수원시 장안구,"POLYGON ((127.03168 37.33659, 127.03171 37.336...",장안구,화산,어린이공원,126.980554,37.291157
18,41111,"Jangan-gu, Suwon-si",수원시 장안구,"POLYGON ((127.03168 37.33659, 127.03171 37.336...",장안구,천천3,근린공원,126.986498,37.290738
...,...,...,...,...,...,...,...,...,...
163,11740,Gangdong-gu,강동구,"POLYGON ((127.17838 37.57041, 127.17840 37.570...",강동구,천일공원,어린이공원,127.136263,37.544989
163,11740,Gangdong-gu,강동구,"POLYGON ((127.17838 37.57041, 127.17840 37.570...",강동구,천호큰골목공원,어린이공원,127.138573,37.545101
163,11740,Gangdong-gu,강동구,"POLYGON ((127.17838 37.57041, 127.17840 37.570...",강동구,고분다리공원,어린이공원,127.131821,37.545405
163,11740,Gangdong-gu,강동구,"POLYGON ((127.17838 37.57041, 127.17840 37.570...",강동구,천호삼거리공원,어린이공원,127.138494,37.545489
163,11740,Gangdong-gu,강동구,"POLYGON ((127.17838 37.57041, 127.17840 37.570...",강동구,나루공원,어린이공원,127.123604,37.547038

### 39.4개시도_경찰관서현황
- 주소를 sggnm으로 묶기(일부 요상한 데이터들 삭제)
- sggnm 별로 groupby해서 **다시 저장**

In [28]:
others_police['sgg_nm']=""
for i in range(len(others_police)):
    for 구역 in 전체:
        if 구역 in others_police.loc[i, 'addr']:
            others_police.loc[i, 'sgg_nm']=구역
    if "진해시" in others_police.loc[i, 'addr']:
        others_police.loc[i, 'sgg_nm']="진해구"
    if "매탄2동" in others_police.loc[i, 'addr']:
        others_police.loc[i, 'sgg_nm']="영통구"

In [29]:
others_police.to_csv('39.4개시도_경찰관서현황.csv', index=False)

In [30]:
others_police

,pname,psname,name,lon,lat,addr,sgg_nm
0,경남청,진주경찰서,개양파출소,128.107802,35.156949,경상남도 진주시 가좌동 448-3,진주시
1,경남청,진주경찰서,금산파출소,128.148163,35.213726,경상남도 진주시 금산면 장사리 930-1,진주시
2,경남청,진주경찰서,남강지구대,128.072194,35.189701,경상남도 진주시 인사동 182-19,진주시
3,경남청,진주경찰서,대곡파출소,128.168509,35.262218,경상남도 진주시 대곡면 광석리 314-1,진주시
4,경남청,진주경찰서,문산파출소,128.164086,35.167648,경상남도 진주시 문산읍 삼곡리 1264-12,진주시
...,...,...,...,...,...,...,...
350,서울청,서울노원경찰서,마들지구대,127.063623,37.664577,노원구 상계9동 681,노원구
351,서울청,서울노원경찰서,불암지구대,127.080388,37.647649,노원구 중계1동 359-6,노원구
352,서울청,서울노원경찰서,서울노원경찰서,127.071408,37.642335,노원구 하계동 250,노원구
353,서울청,서울노원경찰서,월계지구대,127.059314,37.633675,노원구 월계동 262-5,노원구
354,서울청,서울노원경찰서,화랑지구대,127.074635,37.622534,노원구 공릉동 567-18,노원구

In [31]:
aggregation = {i:"count" for i in ['name']}

others_police_sggnm = others_police.groupby(["sgg_nm","pname", "psname"]).agg(aggregation).reset_index()
others_police_sggnm.rename(columns={"name":"count"}, inplace=True)

In [32]:
others_police_sggnm.to_csv('39.4개시도_경찰관서현황_구별.csv', index=False)

### 40.4개시도_어린이놀이시설현황
- 설치일자로부터 현재까지 시간 칼럼(건설이후(일)) 추가
- 주소에서 sgg_nm 추출 -> **저장**
- 구별, 시설 종류별로 count -> **다시 저장**

In [33]:
now  = datetime.now()
others_playground['건설이후(일)']=0
for i in range(len(others_playground)):    
    try:
        date=pd.to_datetime(others_playground.loc[i,'fac_ins_date'])
        date_diff = now - date
        others_playground.loc[i,'건설이후(일)']=date_diff.days
    except:
        others_playground.drop([i], inplace=True)
        print(i, end=" ")

In [34]:
others_playground["sgg_nm"]=""
#others_playground["sgg_nm"]=others_playground["addr"].apply(lambda x : x.split(" ")[1])
for i in range(len(others_playground)):
    if "수원시" in others_playground.loc[i, "addr"] or "창원시" in others_playground.loc[i, "addr"]:
        others_playground.loc[i, "sgg_nm"]=others_playground.loc[i, "addr"].split(" ")[2]
    else:
        others_playground.loc[i, "sgg_nm"]=others_playground.loc[i, "addr"].split(" ")[1]

서초구방배동       1
강북           1
내동면          1
강남           1

In [35]:
for i in range(len(others_playground)):
    if others_playground.loc[i, "sgg_nm"]=="서초구방배동":
        others_playground.loc[i, "sgg_nm"]="서초구"
    if others_playground.loc[i, "sgg_nm"]=="강북":
        others_playground.loc[i, "sgg_nm"]="강북구"
    if others_playground.loc[i, "sgg_nm"]=="강남":
        others_playground.loc[i, "sgg_nm"]="강남구"
    if others_playground.loc[i, "sgg_nm"]=="내동면":
        others_playground.loc[i, "sgg_nm"]="진주시"

In [36]:
others_playground.to_csv('40.4개시도_어린이놀이시설현황.csv', index=False)

sgg_nm 별, 종류별 분할 후 다시 저장

In [37]:
aggregation = {i:"count" for i in ['fac_nm']}

others_playground_sggnm = others_playground.groupby(["sgg_nm","fac_loc"]).agg(aggregation).reset_index()
others_playground_sggnm.rename(columns={"fac_nm":"count"}, inplace=True)

In [38]:
others_playground_sggnm.to_csv('40.4개시도_어린이놀이시설현황_구별종류별.csv', index=False)

### 41.4개시도_토지이용계획도
- 특별사항 x

### 42.4개시도_편의점현황
- 칼럼명 통일, 시도 제대로
- 동일값, 코드값, 그 외 드랍
- 지점명(STORE_NM)에 결측치가 많고, 상호명에 잘못 표기된 경우가 많아 상호명으로 합침
- 상호명에서 편의점 업체 추출하여 칼럼 추가(COMPANY) - 전국 5대 편의점(u, gs25, 세븐일레븐, 이마트, 미니스톱) -> **저장**
- 인구 수 수치형으로 변환 -> **다시 저장**

In [39]:
others_convenience.rename(columns={"SGG_NM":"sgg_nm"}, inplace=True)
others_convenience["sgg_nm"]=others_convenience["sgg_nm"].apply(lambda x : x.split(" ")[-1])

In [40]:
# 동일값(업종)
others_convenience.drop(['COM_LC_CD', 'COM_LC_NM','COM_MC_CD', 'COM_MC_NM', 'COM_SC_CD', 'COM_SC_NM'], axis=1, inplace=True)
# 코드
others_convenience.drop(['KSIC_CD', 'SIDO_CD', 'SGG_CD', 'ADB_EMD_CD', 'EMD_CD', 'JIBUN_CD', 'LAND_GBN_CD', 'ROAD_CD'], axis=1, inplace=True)
# 그 외 잡
others_convenience.drop(['BLDG_BON', 'BLDG_BU', 'BLDG_NM', 'OLD_ZIP_CODE', 'ZIP_CODE', 'DONG', 'FLOOR', 'HO'], axis=1, inplace=True)
# 딱히 필요 없을 것 같은 지번 주소
others_convenience.drop(['JIBUN_BON', 'JIBUN_BU'], axis=1, inplace=True)
others_convenience.rename(columns={"LON":"lon", "LAT":'lat'}, inplace=True)

In [41]:
# 지점명+=상호명, 편의점 업체 추출
others_convenience['COMPANY']="기타"
for i in range(len(others_convenience)):
    if others_convenience.loc[i, 'STORE_NM']!=None:
        others_convenience.loc[i, 'BUSINESS_NM']+=' '+others_convenience.loc[i, 'STORE_NM']
    if 'CU' in others_convenience.loc[i, 'BUSINESS_NM']:
        others_convenience.loc[i,'COMPANY']='CU'
    if 'GS25' in others_convenience.loc[i, 'BUSINESS_NM']:
        others_convenience.loc[i,'COMPANY']='GS25'
    if '세븐일레븐' in others_convenience.loc[i, 'BUSINESS_NM']:
        others_convenience.loc[i,'COMPANY']='세븐일레븐'
    if '이마트' in others_convenience.loc[i, 'BUSINESS_NM'] or '이마트24' in others_convenience.loc[i, 'BUSINESS_NM']:
        others_convenience.loc[i,'COMPANY']='이마트'
    if '미니스톱' in others_convenience.loc[i, 'BUSINESS_NM']:
        others_convenience.loc[i,'COMPANY']='미니스톱'
others_convenience.drop(['STORE_NM'], axis=1, inplace=True)

In [42]:
others_convenience.to_file('42.4개시도_편의점현황.geojson', driver='GeoJSON', index=False)

In [43]:
# sgg_nm별 편의점 업체별 개수
aggregation = {i:"count" for i in ['STORE_ID']}

others_convenience_company = others_convenience.groupby(["SIDO_NM","sgg_nm", 'COMPANY']).agg(aggregation).reset_index()
others_convenience_company.rename(columns={'STORE_ID':'count'}, inplace=True)

In [44]:
others_convenience_company.to_csv("42.4개시도_편의점현황_업체별수.csv", index=False)

## 추가 : 표제부
-

In [45]:
suwon_building=suwon_building[['plat_plc', 'hhld_cnt', 'fmly_cnt', 'main_purps_cd_nm', 'use_apr_day']]
suwon_building.columns=['대지위치', '세대수', '가구수', '주용도코드명', '사용승인일']
suwon_building["sgg_nm"]=suwon_building["대지위치"].apply(lambda x : x.split(" ")[2]) # 수원시 팔달구 -> 팔달구
suwon_building

                         대지위치  세대수  가구수      주용도코드명       사용승인일 sgg_nm
0       경기도 수원시 영통구 매탄동 1-1번지    0    0   제2종근린생활시설  20140117.0    영통구
1       경기도 수원시 영통구 매탄동 1-1번지    0    0     자동차관련시설  20160309.0    영통구
2       경기도 수원시 영통구 매탄동 1-1번지    0    0  위험물저장및처리시설  20140117.0    영통구
3       경기도 수원시 영통구 매탄동 1-1번지    0    0  위험물저장및처리시설  20140117.0    영통구
4       경기도 수원시 영통구 매탄동 1-5번지    0    0     문화및집회시설  20160222.0    영통구
...                       ...  ...  ...         ...         ...    ...
60982   경기도 수원시 권선구 당수동 745번지    0    0        공동주택  20050922.0    권선구
60983   경기도 수원시 권선구 당수동 745번지    0    0   제2종근린생활시설  20050922.0    권선구
60984    경기도 수원시 권선구 당수동 79번지    0    0        창고시설  20160527.0    권선구
60985  경기도 수원시 권선구 당수동 84-1번지    0    1    동.식물관련시설  19781222.0    권선구
60986  경기도 수원시 권선구 당수동 85-4번지    0    1   제2종근린생활시설         NaN    권선구

[60987 rows x 6 columns]

In [46]:
suwon_building.dropna(inplace=True)
suwon_building.reset_index(inplace=True)
suwon_building.drop(['index'], inplace=True, axis=1)
# 번지 있으면 위경도 찍는거 가능하면 이거 되긴할듯!

In [47]:
suwon_building['사용승인일']= suwon_building['사용승인일'].astype('int')
suwon_building['사용승인일']= suwon_building['사용승인일'].astype('str')

In [48]:
suwon_building_df=suwon_building.copy()

In [49]:
for i in range(len(suwon_building)):
    try:
        if (len(suwon_building_df.loc[i,'사용승인일'])==4):
            suwon_building_df.loc[i, '사용승인일']=suwon_building_df.loc[i,'사용승인일']+"0630"
        elif (len(suwon_building_df.loc[i,'사용승인일'])==6):
            suwon_building_df.loc[i, '사용승인일']=suwon_building_df.loc[i,'사용승인일']+"15"
        elif (len(suwon_building_df.loc[i,'사용승인일'])==7):
            suwon_building_df.loc[i, '사용승인일']="1"+suwon_building_df.loc[i,'사용승인일']
        elif (suwon_building_df.loc[i,'사용승인일'][4:8]=="0000"):
             suwon_building_df.loc[i,'사용승인일']=suwon_building_df.loc[i,'사용승인일'][0:4]+"0630"
        elif (suwon_building_df.loc[i,'사용승인일'][6:8]=="00"):
            suwon_building_df.loc[i,'사용승인일']=suwon_building_df.loc[i,'사용승인일'][0:6]+"15"
        elif (suwon_building_df.loc[i,'사용승인일'][4:8]=="0229"):
             suwon_building_df.loc[i,'사용승인일']=suwon_building_df.loc[i,'사용승인일'][0:4]+"0228"    
#         else:
#             표제부조회_서귀포시_전처리d_df.drop([i], inplace=True)
    except:
        print(suwon_building_df.loc[i,'사용승인_일'])
        continue
suwon_building_df.reset_index(drop=True, inplace=True)  
suwon_building_df['건설이후(일)']=0

In [50]:
now  = datetime.now()
for i in range(len(suwon_building_df)):    
    try:
        date=pd.to_datetime(suwon_building_df.loc[i,'사용승인일'])
        date_diff = now - date
        suwon_building_df.loc[i,'건설이후(일)']=date_diff.days
    except:
        print(suwon_building_df.loc[i,'사용승인일'], i)
        suwon_building_df.drop([i], inplace=True)
        # 이상한 애들 여기로~
# 중복제거
suwon_building_df.drop_duplicates(inplace=True)

12002021 10360
11993060 14633
19690931 15941
11977090 22168
19630230 27840
19620230 34241

In [51]:
suwon_building_df.to_csv('26.수원시_건축물대장(표제부).csv', index=False)